div{
    height:200px;
    width:400px;
    background-color:#7aa874;
    margin:10px auto;
    margin-top: 10px;
    background-image:url("imageforcss.png");
    background-size:cover;
    color:black;
}


